th, td {
    border: 1px solid black;
    padding: 8px;
  }
  table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
  }
  thead th {
    width: 25%;
  }
  body {
    font-family: sans-serif;
  }
  caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 16px;
  }
  th {
    background-color: #333;
    color: white;
  }
  
  .example_a {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #21e262;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.example_a:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.tooltipTrigger .tooltip {
    display: none;
  }


  .tooltipTrigger:hover {
    cursor: pointer;
    width:auto;
    background-color: #434343;
    color: #fff;
    width: 50px;
    height: 50px;
  }
  .tooltipTrigger:hover .tooltip  {
    display: inline;
    position: relative; /* relative to .tooltipTrigger */
    left: 10px;
    border: 1px solid #ccc;

  }
  .tooltipTrigger:hover .Email .Phone{
    background-color: #fff;
  }
